# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
build_installer/
dist/
*.spec

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large binaries (optional, keep source light)
*.exe
